<div class="columns is-8">
  <div class="column">
    <section class="card has-background-black">
      <header class="card-header has-background-black">
        <p class="card-header-title has-text-white is-centered">
          {{ station.title }}
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-100x100">
          <img
            src="/pinGrey.png"
            alt=""
          />
        </figure>
      </div>
      <div class="card-content">
      <div class="content has-background-black">
        <ul class="has-background-black has-text-white">
            <p>Lat: {{ station.lat }} </p>
            <p>Lng: {{ station.long }} </p>
      </ul>
      </div>
    </section>
  </div>
    

  <div class="column">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title has-text-white is-centered">
          Weather
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-100x100">
          <img
            src="https://openweathermap.org/img/wn/{{{weather_icon}}}@2x.png"
            alt=""
          />
        </figure>
      </div>
      <div class="card-content">
      <div class="content">
        <ul class="has-text-white">
        <p>Status:</p>
        <p>{{ weather_desc }}</p>
      </ul>
      </div>
    </section>
      </div>

  <div class="column">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title has-text-white is-centered">
          Temp
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-100x100">
          <img
            src="/tempGrey.png"
            alt=""
          />
        </figure>
      </div>
      <div class="card-content">
      <div class="content">
        <ul class="has-text-white">
            <p>Max: {{ temp_max }} °C</p>
            <p>Min: {{ temp_min }} °C</p>
      </ul>
      </div>
    </section>
      </div>


  <div class="column">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title has-text-white is-centered">
          Wind
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-100x100">
          <img
            src="https://openweathermap.org/img/wn/50d@2x.png"
            alt=""
          />
        </figure>
      </div>
      <div class="card-content">
      <div class="content">
        <ul class="has-text-white">
            <p>Max: {{ wind_max }} km/h</p>
            <p>Min: {{ wind_min }} km/h</p>
      </ul>
      </div>
    </section>
      </div>


  <div class="column">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title has-text-white is-centered">
          Pressure
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-100x100">
          <img
            src="/pressGrey.png"
            alt=""
          />
        </figure>
      </div>
      <div class="card-content">
      <div class="content">
        <ul class="has-text-white">
            <p>Max: {{ pressure_max }} hPa</p>
            <p>Min: {{ pressure_min }} hPa</p>
      </ul>
      </div>
    </section>
      </div>
  </div>
