{{> menu active="account"}}

<section class="section">
  <h1 class="title">User details</h1>
  <ul>
    <li><strong>First name:</strong> {{user.firstName}}</li>
    <li><strong>Second name:</strong> {{user.lastName}}</li>
    <li><strong>Email address:</strong> {{user.email}}</li>
    <!-- <details> -->
    <!--   <summary>ID (debug)</summary> -->
    <!-- <li>{{user._id}}</li> -->
    <!-- </details> -->
  </ul>
  <hr>
  <a id="edit" class="button" href="/editcurrentuser/{{user._id}}"> Edit Account Details </a>
</section>
